{% extends 'base.html' %}

{% block title %}Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi
        {{ user.username }}!
        <p>
            <a href="{% url 'logout' %}">Log Out</a>
        </p>
        <form method="post">
            {% csrf_token %}
            <h3>Enter a text or URL to generate a QR code</h3>
            <span>
                QR Code Text:
            </span>
            <input type="text" name="qr_code_text" required>
            <button type="submit" style="max-width: 200px;margin:auto"> Submit </button>
        </form>
        {% for qr in qr_code %}
        <img src="{{qr.Qr_Image.url}}"/><br>
        {% endfor %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}
